p {
    color: blue;
}

:root{
    --basis: 50%;
}


#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.sample {
    background-color: orange;
    height: 200px;
    outline: 2px solid black;
    outline-offset: -2px;
    flex-basis: var(--basis);
    /*flex-basis: 50%;*/
    flex-grow: 1;
}

.sample1 {
    background-color: lightyellow;
    height: 200px;
    outline: 2px solid black;
    outline-offset: -2px;
    flex-basis: 50%;
    flex-grow: 1;
}